[Unit]
Description=Data logging for Otto

[Service]
Type=simple
ExecStart=/usr/local/bin/ottologger.py
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target
Alias=ottologger.service

